development:
  adapter: postgresql
  database: monster_development
  host: localhost
  username: postgres
  password:

test:
  adapter: postgresql
  database: monster_test
  host: localhost
  username: postgres
  password:
